<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Store</h1>
    </header>
    <div class="panel">
        <div class="display">
            <span class="display-foreground">{{.DepartmentId}}</span>
        </div>
        <nav>
            <ul>
                {{range .Departments}}
                    <li>
                        <a href={{printf "/departments/%d" .Id}} class="panel-dial">
                            <span>{{.Id}}</span>
                        </a>
                        <a href={{printf "/departments/%d" .Id}}>{{.Name}}</a>
                    </li>
                {{end}}
            </ul>
        </nav>
    </div>
    <ul class="catalog">
        {{range .Products}}
            <li class="catalog-item">
                <img src={{printf "/assets/imgs/%s.jpeg" .Name}} alt={{.Name}}>
            </li>
        {{end}}
    </ul>
</body>
</html>