{{define "content"}}
<div class="department-content">
    <div class="sidebar">
        <nav class="panel">
            <p class="panel-display">
                <span>{{.Department.Id}}</span>
            </p>
            <ul>
                {{range .Departments}}
                    <li>
                        <a href={{toLower .Name | printf "/departments/%s"}} class="panel-dial">
                            <p>{{.Id}}</p>
                        </a>
                        <a href={{toLower .Name | printf "/departments/%s"}} class="panel-label">{{.Name}}</a>
                    </li>
                {{end}}
            </ul>
        </nav>
    </div>
    <ul class="catalog">
        {{range .Products}}
            <li class="catalog-product">
                <a href={{kebabCase .Name | printf "/%s"}} class="catalog-product-image-wrapper"><img class="catalog-product-image" src={{printf "/assets/imgs/%s.jpeg" .Name}} alt={{.Name}}></a>
                <a href={{kebabCase .Name | printf "/%s"}} class="catalog-product-name">{{.Name}}</a>
                <p class="catalog-product-price">${{.Price}}</p>
            </li>
        {{end}}
    </ul>
</div>
{{end}}